
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="wrapper bgded overlay" style="background-image: url('/images/backgrounds/Aboutimage.jpg' );">
    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <article>
            <div>
                <p class="heading">Happy to Inform you  </p>
                <h2 class="heading">GoodWill Dispensaries</h2>
                <p>Spreading Miles with Smiles..! </p>
            </div>
            <center>
                <footer>

                    <h1> ABOUT US..!</h1>
                </footer>
            </center>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>

<div class="group btmspace-80">
    <div class="one_quarter first">
        <h4> Reviews We Got</h4>
    </div>
    <div class="three_quarter">
        <p>Goodwill Dispensary is a 120 bedded premier multispecialty healthcare facility with all services under one roof. Located at the heart of Ghodbunder Road in Patlipada, it is accessible from both, western as well as eastern express highway. Goodwill is a comprehensive Tertiary care hospital designed on International standards and NABH guidelines.</p>
        <p class="btmspace-30">GOODWILL HAS MORE THAN 30 SPECIALTIES. BUT DO YOU WANT TO KNOW WHY WE ARE SPECIAL?? VERY FEW DISPENSARIES HAVE CENTRE OF EXCELLENCE SPECIALTIES AND WE ARE ONE OF THEM IN THANE.&hellip;</p>

    </div>
    <img src="~/images/backgrounds/vimi.png" alt="Girl in a jacket" width="500" height="600">

    <center>
        <h1><strong>FACILITIES INCLUDE:</strong></h1>

        <ul>
            <li>120 Beds (Super Deluxe Suites, Deluxe Rooms, Single Rooms, Twin Sharing, Multi Sharing)</li>
            <li>State of the art spacious, centrally monitored ICUs, HDUs</li>
            <li>3 State of the art OTs with Hepa filters & Laminar Airflow</li>
            <li>1 State of the art Cathlab</li>
            <li>24 X 7 Emergency Department</li>
            <li>Inhouse Pathlab</li>
            <li>1.5 Tesla MRI (Quiet suite)</li>
            <li>32 Slice CT Scan</li>
            <li>100 Car Parking</li>
        </ul>
    </center>
</div>


