@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <!-- ################################################################################################ -->
            <div id="logo" class="fl_left">
                <h1>Frequently Asked Quetions.!</h1>
            </div>

            <!-- ################################################################################################ -->
        </header>
    </div>

    <!-- ################################################################################################ -->
    <img src="/images/backgrounds/faq.jpg" style="width: 100%">
    <div id="quickinfo" class="fl_right">
        <ul class="nospace inline">
            <li>
                <strong>Receptionist: &nbsp;</strong><br>
                +20 45 7890 8794 &nbsp;
            </li>
            <li>
                <strong>Technician:</strong><br>
                +91 79 7748 4138
            </li>
        </ul>
    </div>
    <!-- ################################################################################################ -->
    
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
        <main class="hoc container clear">
            <!-- main body -->
            <!-- ################################################################################################ -->


            <h2 align="left">We are mostly asked about..</h2>
            <div id="comments">
                <ul>
                    <li>
                        <article>
                            <header>
                                <figure class="avatar"><img src="/images/backgrounds/av1.jpg" alt=""></figure>
                                <address>
                                    By <a href="#">A Name</a>
                                </address>
                                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @@08:15:00</time>
                            </header>
                            <div class="comcont">
                                <p><b>How far is Jupiter Hospital from the Airport?</b></p>
                                <p>
                                    Jupiter hospital is at a distance of approximately 23 km (14.3 miles) from Chhatrapati Shivaji International Airport, Mumbai. If you are travelling by car, it will take you around half an hour to reach the hospital.
                                </p>

                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <figure class="avatar"><img src="/images/backgrounds/av2.jpg" alt=""></figure>
                                <address>
                                    By <a href="#">A Name</a>
                                </address>
                                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @@08:15:00</time>
                            </header>
                            <div class="comcont">
                                <p><b>Is there any health package available for senior citizens?</b></p>
                                <p>
                                    Yes, we offer a special senior citizen health check-up package starting at Rs. 4100. This includes routine tests, diabetic profile, liver profile, lipid profile test, kidney profile, thyroid function test, radiology investigations, special cardiac evaluation and ENT. You can easily get the plan by logging into the hospital’s official website.

                                </p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <figure class="avatar"><img src="/images/backgrounds/av3.jpg" alt=""></figure>
                                <address>
                                    By <a href="#">A Name</a>
                                </address>
                                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @@08:15:00</time>
                            </header>
                            <div class="comcont">
                                <p><b>For how long will I be kept in the ICU after my heart surgery?</b></p>
                                <p>
                                    Post cardiac surgery, patients are usually kept in the ICU for an average of 24 to 48 hours. However, the time may vary depending upon various factors which include the patient’s vital signs and activity. So, you will be kept in the ICU for at least 24 hours following your surgery.

                                </p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <figure class="avatar"><img src="/images/backgrounds/av4.jpg" alt=""></figure>
                                <address>
                                    By <a href="#">A Name</a>
                                </address>
                                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @@08:15:00</time>
                            </header>
                            <div class="comcont">
                                <p><b>Can epilepsy be treated surgically?</b></p>
                                <p>
                                    Yes, epilepsy can be treated surgically. Doctors usually recommend surgery to patients who do not respond well to medication. There are a plethora of surgical procedures available for treating epilepsy, these include respective surgery, multiple subpial transection, hemispherectomy and corpus colostomy.

                                </p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <figure class="avatar"><img src="/images/backgrounds/av5.jpg" alt=""></figure>
                                <address>
                                    By <a href="#">A Name</a>
                                </address>
                                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @@08:15:00</time>
                            </header>
                            <div class="comcont">
                                <p><b>Is epidural stimulation a safe procedure?</b></p>
                                <p>
                                    Epidural stimulation is a gold standard treatment option for patients with severe spinal cord injury. The procedure is highly safe and effective and involves the continuous application electric current to the lower portion of the spinal cord with the help of a tiny chip and electrodes.

                                </p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <figure class="avatar"><img src="/images/backgrounds/av6.jpg" alt=""></figure>
                                <address>
                                    By <a href="#">A Name</a>
                                </address>
                                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @@08:15:00</time>
                            </header>
                            <div class="comcont">
                                <p><b>Does IVF increase the risks of multiple pregnancies?</b></p>
                                <p>
                                    JWell, this is a very common question asked by most of the partners availing for the treatment. The type of pregnancy depends upon the number of embryos implanted inside the womb of the female partner. So if your doctor is implanting a single embryo, it is not possible to have multiple pregnancies, however, if you want to implant multiple embryos, then there might be slight risks of the same.

                                </p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <figure class="avatar"><img src="/images/backgrounds/av7.jpg" alt=""></figure>
                                <address>
                                    By <a href="#">A Name</a>
                                </address>
                                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @@08:15:00</time>
                            </header>
                            <div class="comcont">
                                <p><b>How can I manage the side-effects related to chemotherapy for breast cancer?</b></p>
                                <p>
                                    No doubt, there are certain side effects associated with chemotherapy but its benefits usually outnumber these. Most of these side effects can be easily managed with evidence-informed therapies. The major focus is to rebuild your strength and stamina so that you can continue with the treatment without any interruption. You should also consider support therapies like naturopathic support, nutrition therapy, pain management and oncology rehabilitation.

                                </p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <figure class="avatar"><img src="/images/backgrounds/av8.jpg" alt=""></figure>
                                <address>
                                    By <a href="#">A Name</a>
                                </address>
                                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @@08:15:00</time>
                            </header>
                            <div class="comcont">
                                <p><b>What is the most common type of cancer in men?</b></p>
                                <p>
                                    JAccording to the reports given by the World Health Organisation (WHO), lung cancer is the most common type of cancer in men, responsible for nearly 1.76 million cancer-related deaths worldwide. This is followed by prostate cancer and colorectal cancer.

                                </p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <figure class="avatar"><img src="/images/backgrounds/av9.png" alt=""></figure>
                                <address>
                                    By <a href="#">A Name</a>
                                </address>
                                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @@08:15:00</time>
                            </header>
                            <div class="comcont">
                                <p><b>Is there a way to avoid knee replacement surgery?</b></p>
                                <p>
                                    If we talk about surgeries in general, these are usually the last resort of treatment when other non-invasive treatment options fail to give desired results and the same holds true for knee replacement. If you want to avoid the surgery, you can consider other options, provided they work well for you. These include physiotherapy, medication, steroid injections etc. However, if there is no improvement, then surgery is a must.

                                </p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <figure class="avatar"><img src="/images/backgrounds/av10.jpg" alt=""></figure>
                                <address>
                                    By <a href="#">A Name</a>
                                </address>
                                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @@08:15:00</time>
                            </header>
                            <div class="comcont">
                                <p><b>Can donating a part of the liver affect the life of the donor?</b></p>
                                <p>
                                    The liver has regenerative properties which means that even if a person donates a part of his liver, the same will grow back to its original size within a few months. Although, the donor will be asked to follow certain guidelines and refrain from rigorous activities initially, these limitations are temporary. So yes, the transplant may slightly affect your life but only temporarily.
                                </p>
                            </div>
                        </article>
                    </li>

                </ul>
                <h2>Write us your Question</h2>
                <form action="#" method="post">
                    <div class="one_third first">
                        <label for="name">Name <span>*</span></label>
                        <input type="text" name="name" id="name" value="" size="22" required>
                    </div>
                    <div class="one_third">
                        <label for="email">Mail <span>*</span></label>
                        <input type="email" name="email" id="email" value="" size="22" required>
                    </div>
                    <div class="one_third">
                        <label for="url">Website</label>
                        <input type="url" name="url" id="url" value="" size="22">
                    </div>
                    <div class="block clear">
                        <label for="comment">Your Comment</label>
                        <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
                    </div>
                    <div>
                        <input type="submit" name="submit" value="Submit Form">
                        &nbsp;
                        <input type="reset" name="reset" value="Reset Form">
                    </div>
                </form>
            </div>
            <!-- ################################################################################################ -->

        </main>   
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear">

    </div>