<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_quarter first">
            <h5 class="heading" style="font-size: large">Know more about developer</h5>
            <ul class="nospace btmspace-30 linklist contact">
                <li>
                    <i class="fa fa-map-marker"></i>
                    <address>
                        A/702, Shree Raghunath Palace, Bhaskar Road &amp; 271, Imagica Township, Mumbai/400602.
                    </address>
                </li>
                <li><i class="fa fa-phone"></i> +22 (123) 456 7890</li>
                <li><i class="fa fa-envelope-o"></i> dacdeveloper@met.com</li>
            </ul>
            <ul class="faico clear">
                <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="one_quarter">
            <h2 class="heading" style="font-size: large">Pages</h2>
            <ul class="nospace linklist">
                <li><a href="#">Admission/Discharge Procedure</a></li>
                <li><a href="#">Awards and Achivements</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Vacancies/ Careers</a></li>
                <li><a href="#">Coverage/Articles</a></li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="heading" style="font-size: large">Our Services Include</h6>
            <ul class="nospace linklist">
                <li><a href="#">Patients Rights & Responsibilities</a></li>
                <li><a href="#">Ambulance Assistance</a></li>
                <li><a href="#">Blood Banking</a></li>
                <li><a href="#">Organ Transpant</a></li>
                <li><a href="#">Specialiest Testing Reports</a></li>
            </ul>
        </div>
        <div class="one_quarter">
            <h6 class="heading"  style="font-size: large">Contect us on queries</h6>
            <p class="nospace btmspace-15">Feel free to connect us for joinning and patnership please drop your name and email id we wiil reach  you soon.</p>
            <form method="post" action="#">
                <fieldset>
                    <legend>Newsletter:</legend>
                    <input class="btmspace-15" type="text" value="" placeholder="Name">
                    <input class="btmspace-15" type="text" value="" placeholder="Email">
                    <button type="submit" value="submit">Submit</button>
                </fieldset>
            </form>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5" style="background-color: #0069a4;">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left" style="font-weight:bold">Copyright &copy; 2021 - All Rights Reserved - <a href="https://www.linkedin.com/in/akash-nangare-810b83175/" style="background-color: #0069a4;text-transform:uppercase">Akash Nangare</a></p>

        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

