@model DispenceryManagement.ViewModel.RandomCustomerViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var className = Model.Patients.Count >= 5 ? "popular" : null;
}

<h2 class="@className">@Model.DisItems.DispenceryItemName</h2>

@if(Model.Patients.Count == 0)
{
    <text>No Patients Details Available.</text>
}
else
{
<ul>
    @foreach (var cust in Model.Patients)
    {
        <li>@cust.Name</li>
    }
</ul>
}
