@{
    ViewBag.Title = "Home Page";
}

<head>
    <title>Dispencery Home</title>
</head>

<div class="wrapper bgded overlay" style="background-image: url('/images/backgrounds/first.jpg' );">
    <div id="pageintro" class="hoc clear">
        <!-- ################################################################################################ -->
        <article>
            <div>
                <p class="heading">We hereby announce the asupicious opening of our new branch</p>
                <h2 class="heading">GOODWILL DISPENSARY</h2>
                <p>at Naupada, thane west</p>
            </div>
            <footer>
                <ul class="nospace inline pushright">
                    <li><a class="btn inverse" href="#">Contact for more information</a></li>
                    <li><a class="btn" href="#">View map</a></li>
                </ul>
            </footer>
        </article>
        <!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <article class="group">
            <div class="group btmspace-80">
                <div class="one_quarter first">
                    <h3 class="heading">2776+</h3>
                    <h4> HAPPY PATIENTS</h4>
                </div>
                <div class="three_quarter">
                    <p>Goodwill Dispensary is a 120 bedded premier multispecialty healthcare facility with all services under one roof. Located at the heart of Ghodbunder Road in Patlipada, it is accessible from both, western as well as eastern express highway. Goodwill is a comprehensive Tertiary care hospital designed on International standards and NABH guidelines.</p>
                    <p class="btmspace-30">GOODWILL HAS MORE THAN 30 SPECIALTIES. BUT DO YOU WANT TO KNOW WHY WE ARE SPECIAL?? VERY FEW DISPENSARIES HAVE CENTRE OF EXCELLENCE SPECIALTIES AND WE ARE ONE OF THEM IN THANE.&hellip;</p>
                    <footer>
                        
                        @Html.ActionLink("ABOUT", "About", "FAQ", null, new { @class = "btn" })
                    </footer>
                </div>
            </div>
            <figure>
                <ul class="nospace group overview">
                    <li class="one_half"><a href="#"><img src="~/images/11o1.jpg" alt=""></a></li>
                    <li class="one_half"><a href="#"><img src="~/images/1o2.jpg" alt=""></a></li>
                    <li class="one_half"><a href="#"><img src="~/images/1o3.jpg" alt=""></a></li>
                    <li class="one_half"><a href="#"><img src="~/images/1o4.jpg" alt=""></a></li>
                    <li class="one_half"><a href="#"><img src="~/images/1o5.jpg" alt=""></a></li>
                    <li class="one_half"><a href="#"><img src="~/images/1o6.jpg" alt=""></a></li>
                </ul>
            </figure>
        </article>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
    </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image: url('/images/backgrounds/bg02.jpg'); ">
    <article class="hoc container clear center">
        <!-- ################################################################################################ -->
        <div class="sectiontitle" style="margin-bottom:30px;">
            <h6 class="heading">We are happy to announce our new MEDICLAIM SERVICES</h6>
            <p>Register soon and get early joinning bonus..!</p>
        </div>
        <p><a class="btn" href="#">Read More &raquo;</a>
        </p>
        <!-- ################################################################################################ -->
    </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
            <h6 class="heading">Always Happy To Servie You With Best Medical Team.</h6>
            <p>Internation Doctors visits and Guidance </p>
        </div>
        <div class="group">
            <article class="one_third first">
                <a href="#"><img class="btmspace-30" src="~/images/Suyog.jpg" alt=""></a>
                <h6 class="nospace heading">DR. SUYOG SAWAKE</h6>
                <ul class="nospace meta">
                    <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                    <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
                </ul>
                <p>CHEST PHYSICIAN & CRITICAL CARE SPECIALIST</p>
                <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
            </article>
            <article class="one_third">
                <a href="#"><img class="btmspace-30" src="~/images/Nikita.jpg" alt=""></a>
                <h6 class="nospace heading">DR. NIKITA KOLHE</h6>
                <ul class="nospace meta">
                    <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                    <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
                </ul>
                <p>DERMATOLOGIST & COSMETOLOGY</p>
                <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
            </article>
            <article class="one_third">
                <a href="#"><img class="btmspace-30" src="~/images/naik.jpg" alt=""></a>
                <h6 class="nospace heading">DR. PRATHAMESH NAIK</h6>
                <ul class="nospace meta">
                    <li><i class="fa fa-user"></i> <a href="#">Admin</a></li>
                    <li><i class="fa fa-tag"></i> <a href="#">Tag Name</a></li>
                </ul>
                <p>HEMATOLOGIST, HEMATO ONCOLOGY AND BONE MARROW TRANSPLANTS</p>
                <footer class="nospace"><a class="btn" href="#">Read More</a></footer>
            </article>
        </div>
        <!-- ################################################################################################ -->
    </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay light" style="background-image: url('/images/backgrounds/bg03.jpg');">
    <article class="hoc cta clear">
        <!-- ################################################################################################ -->
        <h6 class="three_quarter first"><strong>FAQ's for you.!</strong></h6>
        <footer class="one_quarter">

            @Html.ActionLink("A click away.!", "FAQ", "FAQ", null, new { @class = "btn" })

        </footer>
        <!-- ################################################################################################ -->
    </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

